<section class="card">
  <div class="section-banner" data-side="{{side}}" data-total="{{total}}" data-ref="{{ref}}">Only in {{ref}} ({{total}})</div>
  <div class="table-wrap">
    <table>
      <colgroup><col class="col-graph"><col class="col-subject"><col class="col-author"><col class="col-date"></colgroup>
      <thead><tr><th class="col-graph"></th><th class="col-subject">Subject</th><th class="col-author">Author</th><th class="col-date">Date</th></tr></thead>
      <tbody>{{{rows}}}</tbody>
    </table>
  </div>
</section>
